.header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header__heading {
  color: #434243;
  display: inline-block;
  line-height: 1;
  margin: 0;
}

.header__link {
  &::after {
    content: "»";
    left: 2px;
    position: relative;
  }
}
