.hero-section {
  background-color: $color-grey;
  background-image: url(../../../public/images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.hero-section__text {
  padding: 180px $page-padding;
  padding: clamp(80px, 10vw, 180px) $page-padding;

  h1, p {
    margin: 0;
  }

  p {
    font-weight: 700;
  }
}