<nav aria-label="main" class="main-nav">
    <button id="main-nav-toggle" class="hidden main-nav__toggle">
        <span class="main-nav__hamburger"></span>
        <span class="main-nav__hamburger"></span>
        <span class="main-nav__hamburger"></span>
    </button>
    <ul class="main-nav__int-items u-reset-list">
    {% for item in navItems %}
        <li class="main-nav__int-item"><a href="{{ item.href }}">{{ item.label }}</a></li>
    {% endfor %}
    </ul>
    <a class="button button--brand button--switch-site" href="#recruiters">Advertise a job</a>
</nav>
