$color-brand: #0079c0;
$color-brand-secondary: #f12e58;
$color-brand-tint: #e4f4fc;
$color-footer-bg: #434143;
$color-grey: #f0f0f0;

$breakpoint-x-small: 460px;
$breakpoint-small: 825px;
$breakpoint-medium: 1100px;

$spacing-unit: 20px;
$page-padding: $spacing-unit;